[Unit]
# version for system install
Description=Queue Length Monitor Service
After=network-online.target
Wants=network-online.target
[Service]
Type=simple
# env files moved to /etc for system install
EnvironmentFile=/etc/q-length.conf
# same rationale for script location
ExecStart=/usr/local/bin/q-length.sh $IP $THR
Restart=on-failure
RestartSec=10s 
[Install]
WantedBy=multi-user.target
